#changeStyleCpt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

#changeStyleCpt img{
    height: 50%;
}

#changeStyleCpt img:nth-child(3){
    cursor: pointer;
}
