.containerDarkBackground{
    background: #1A1C21;
}

.containerDarkBackgroundInner{
    background: #24272E;
}

.itemDarkBackground{
    background: #272B39;
}

.frontCptDarkFontColor{
    color: #EAEAEB;
}

.frontCptDarkBackground_1{
    background: #1A1C21;
}

.frontCptDarkBackground_2{
    background: #24272E;
}