.containerDarkBackground{
    background: #1A1C21;
}

.containerDarkBackgroundInner{
    background: #24272E;
}

.itemDarkBackground{
    background: #272B39;
}

.fontColorDark{
    color: #EAEAEB;
}

.frontCptDarkBackground{

}

.frontCptTitleDark{

}