.containerLightBackground{
    background: #FDFDFD;
}

.containerLightBackgroundInner{
    background: #FFFFFF;
}

.itemLightBackground{
    background: #F7F8FF;
}

.fontColorLight{
    color: #333333;
}

.frontCptLightBackground{
    background: #FDFDFD;
}

.frontCptTitleLight{

}