.containerLightBackground{
    background: #FDFDFD;
}

.containerLightBackgroundInner{
    background: #FFFFFF;
}

.itemLightBackground{
    background: #F7F8FF;
}

.fontColorLight{
    color: #333333;
}

.frontCptLightBackground_1{
    background: #FDFDFD;
}

.frontCptLightBackground_2{
    background: #FFFFFF;
}