#infoCpt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#userInfoTopBar{
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#changeStyleCpt{
    width: 12%;
    height: 100%;
    margin-left: 4%;
}

#userInfo{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#userInfoInner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#userInfoInnerLeft{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 11%;
}



#userProfile{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#profileItem{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#profileItem img{
    height: 90%;
    border-radius: 50%;
}

#profileItem a{
    font-size: 0.9em;
}

#profileItem div{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#userInfoFlw{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

#userInfoFlw > div{
    width: 95%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
}

#userLanguage{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.languageItem{
    display: inline-block;
    height: 20%;
    margin: 1% 1% 0% 3%;
    padding-left: 2%;
    padding-right: 2%;
    height: 20%;
    font-size: 0.8em;
    line-height: 180%;
}

#otherInfo{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#otherInfo > div{
    width: 100%;
    height: 33%;
    margin-left: 3%;
}

#joined{
    margin-top: 5%;
}

#location > div{
    font-size: 0.9em;
}


#lastUpdate{
    font-size: 0.9em;
}

#userInfoInnerRight{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 5%;
}


#userInfoInnerRightTopBar{
    width: 95%;
    height: 7%;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 1.2em;
}

#latestActivities{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}

#latestActivities::-webkit-scrollbar{
    display: none;
}

.activityListItem{
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.activityListItem img{
    height: 40%;
    margin-right: 3%;
}

.activityListItem > .activityListItemFront{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.activityListItem > .activityListItemTime{
    color: #CECECE;
}

#infoCptSearchCptOuter{
    width: 40%;
    height: 100%;
}